<h1>Welcome to express</h1>
<header>
  <img src="/image/logo.jpg" alt="" />
</header>
<form class="" action="/process/contact" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="email" value="">
  <button type="submit">提交</button>
</form>
<h1>{{name}}</h1>
<h1>{{sex}}</h1>
{{#if flash}}
  <div class="alert alert-dismissible alert-{{flash.type}}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
    <strong>{{flash.intro}}</strong>
    {{{flash.message}}}
  </div>
{{/if}}
